[Oo]bj/
[Bb]in/
.nuget/
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.history
.ionide

inspectcode.xml

