name: .NET Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # this will set up all three dot net versions as the runtimes are apparently all needed at the same time for testing.
    - name: Setup .NET Core 2.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.x
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Setup .NET Core 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test on .NET Core 2.1.x
      run: dotnet test --no-restore --verbosity normal --framework netcoreapp2.1

    - name: Test on .NET Core 3.1.x
      run: dotnet test --no-restore --verbosity normal --framework netcoreapp3.1

    - name: Test on .NET Core 5.0.x
      run: dotnet test --no-restore --verbosity normal --framework net5.0

    - name: Package
      run: dotnet pack src/Dynatrace.MetricUtils --configuration Release --no-build

    - name: Archive nupkg
      uses: actions/upload-artifact@v2
      with:
        name: nupkg
        path: 'src/Dynatrace.MetricUtils/bin/Release/*.*nupkg'
